@CHARSET "ISO-8859-1";

.ui-menuitem-text {
	font-weight: 500;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	padding-top: 10px;
	color: black;
}

.class-teste2 {
	border-left: 5px solid rgba(1, 19, 27, 0.14);
	border-right: 5px solid rgba(1, 19, 27, 0.14);
	border-top: 1px solid rgba(1, 19, 27, 0.14);
	border-bottom: 1px solid rgba(1, 19, 27, 0.14);
}

.ui-widget-content {
	background-color: #ffffff;
}

.ui-widget-content .ui-icon-triangle-1-s {
	background-image: none !important;
}

.ui-icon-triangle-1-e, .ui-icon-contact {
	background-image: none !important;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.imoveis-icon {
	background-image: url("../images/imoveis-icon.png") !important;
	padding: 10px;
	background-size: 32px 32px;
}

.teste {
	background-image: url("../images/bg-center.jpg") !important;
}

.add-imovel-menu-icon {
	background-image: url("../images/add-imovel-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px !important;
}

.pesquisar-imovel-menu-icon {
	background-image: url("../images/pesquisar-imovel-menu-icon.png")
		!important;
	background-size: 16px 16px;
	margin: 9px 5px 0 0;
}

.vistorias-menu-icon {
	background-image: url("../images/vistorias-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.add-vistoria-menu-icon {
	background-image: url("../images/add-vistoria-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.pesquisar-vistoria-menu-icon {
	background-image: url("../images/pesquisar-vistoria-menu-icon.png")
		!important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.pessoa-icon {
	background-image: url("../images/pessoa-icon.png") !important;
	padding: 10px;
	background-size: 32px 32px !important;
}

.add-pessoa-menu-icon {
	background-image: url("../images/add-pessoa-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.pesquisar-pessoa-menu-icon {
	background-image: url("../images/pesquisar-pessoa-menu-icon.png")
		!important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.contrato-icon {
	background-image: url("../images/contrato-icon.png") !important;
	padding: 10px;
	background-size: 32px 32px;
}

.add-contrato-menu-icon {
	background-image: url("../images/add-contrato-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.pesquisar-contrato-menu-icon {
	background-image: url("../images/pesquisar-contrato-menu-icon.png")
		!important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.usuarios-menu-icon {
	background-image: url("../images/usuarios-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.corretores-menu-icon {
	background-image: url("../images/corretor-menu-icon.png") !important;
	margin: 9px 5px 0 0;
	background-size: 16px 16px;
}

.financeiro-icon {
	background-image: url("../images/financeiro-icon.png") !important;
	padding: 10px;
}

.relatorios-icon {
	background-image: url("../images/relatorios-icon.png") !important;
	padding: 10px;
}

.relatorio-menu-icon {
	background-image: url("../images/relatorio-menu-icon.png") !important;
	background-size: 16px 16px;
	margin: 9px 5px 0 0;
}

.recibo-menu-icon {
	background-image: url("../images/recibo-menu-icon.png") !important;
	margin: 9px 5px 0 0
}

.form-cadastro {
	font-size: 0.8em;
	font-weight: 700;
	width: 50%;
	min-width: 700px;
	padding: 15px;
	margin: 30px 0 20px 20px;
	border: 1px solid #BDC0C1;
	background-color: white;
	border-radius: 6px;
	-webkit-box-shadow: 9px 7px 28px -9px rgba(0, 0, 0, 0.38);
	-moz-box-shadow: 9px 7px 28px -9px rgba(0, 0, 0, 0.38);
	box-shadow: 9px 7px 28px -9px rgba(0, 0, 0, 0.38);
}

.input-form-pessoa{
	padding: 8px 8px 8px 10px;
}

.titulo-pagina {
	font-family: sans-serif;
	font-weight: lighter;
	text-align: center;
	background-color:
}

.perfil-pessoa label {
	margin-right: 20px;
}

.select-one-menu-imoveis {
	width: 90px;
	margin-right:13px;
}

.select-one-menu-imoveis label {
	padding: 5px 0 5px 10px;
	
}